body {
    display: flex; /* Usa o modelo de layout Flexbox */
    justify-content: center; /* Centraliza horizontalmente o conteúdo */
    align-items: center; /* Centraliza verticalmente o conteúdo */
    height: 100vh; /* Define a altura do corpo como 100% da altura da visualização */
    margin: 0; /* Remove a margem padrão do corpo */
    background-color: #282c34; /* Define a cor de fundo */
    color: white; /* Define a cor do texto */
    font-family: Arial, sans-serif; /* Define a fonte do texto */
}

#clock {
    font-size: 3rem; /* Define o tamanho da fonte do relógio */
}
